{% extends "header.html" %}

{% block content %}

<div align = "center">
<form id="alert_form" method="POST" action="/alert">
	{% csrf_token %}
	<table>
		<tbody>
			<tr>
				<td>Name:</td>
				<td>{{full_name}}</td>
			</tr>
			<tr>
				<td>Contact number:</td>
				<td>{{contact_number}}</td>
			</tr>
		</tbody>
	</table>
	<button id="alert" value="alert">alert</button>
    <button id="end" value="end">end</button>
</form>
</div>
<div align = "center" id="result"></div>

<script type="text/javascript">
    var frm = $("#alert_form");
    var alert = $("#alert")
    alert.click(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                console.log(data)
                $("#alert").attr("disabled", true);
                $("#end").attr("disabled", false);
                message = "calling ";
                $("#result").html(message.concat(data['message']));
            },
            error: function(data) {
            	$("#result").html(data);
                console.log(data)
            }
        });
        return false;
    });

    var frm = $("#alert_form");
    var end = $("#end")
    end.click(function () {
        $.ajax({
            type: "GET",
            url: "/end_call",
            success: function (data) {
                $("#alert").attr("disabled", false);
                $("#end").attr("disabled", true);
                $("#result").html(data);
            },
            error: function(data) {
                $("#result").html("error");
            }
        });
        return false;
    });
</script>
{% endblock %}