{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
<link href="{% static "css/header.css" %}" rel="stylesheet" type="text/css" />
<br />
<br />
<br />
    <div id="navigation" style = "background: url( {% static "images/navigation-bg.jpg" %} ) no-repeat center top;">
			<ul>
            	<li><a href="navigation.html">Home</a></li>
                <li><a href="/get_position">Indoor Tracking</a></li>
				<li><a href="navigation.html">Outdoor Tracking</a></li>
				<li style ="float: right"><a href="/accounts/logout">Logout</a></li>
				<li style ="float: right"><a href="/accounts/profile">{{full_name}}</a></li>
			</ul>
	</div>    
<br />
<br />
<br />
<br />

{% endblock %}