{% extends "header.html" %}

{% block content %}

<div align="center">
<canvas id="canvas" style="background-image:url('static/{{layout}}');background-repeat: no-repeat;"></canvas>
</div>
<script type="text/javascript">
var canvas = document.getElementById("canvas");
var ctx = canvas.getContext("2d");



canvas.width = 	450
canvas.height = 450;



function draw(x, y) {

	ctx.clearRect(0, 0, canvas.width, canvas.height);
	ctx.beginPath();
	ctx.fillStyle = "skyblue";
	ctx.strokeStyle = "gray";
	ctx.arc(x,y,15,0,Math.PI*2,true);
	ctx.fill();
	ctx.stroke();
}

function handleMouseDown(e) {
	      var canvasOffset = $("#canvas").offset();
        var offsetX = canvasOffset.left;
        var offsetY = canvasOffset.top;
	mouseX = parseInt(e.screenX - offsetX);
	mouseY = parseInt(e.screenY - offsetY);
	console.log("clientX" + e.screenX + "clientY" + e.screenY);
	console.log("offsetX" + offsetX + "offsetY" + offsetY);
	console.log("Down: " + mouseX + " / " + mouseY);
	console.log("layerX" + e.layerX + "layerY" + e.layerY);

	// Put your mousedown stuff here
	draw(mouseX, mouseY);
}

$("#canvas").mousedown(function (e) {
            handleMouseDown(e);
        });


</script>


{% endblock %}