{% extends "header.html" %}

{% block content %}

<div align="center">
<canvas id="canvas" style="background-image:url('static/{{layout}}');background-repeat: no-repeat;"></canvas>
</div>
<script type="text/javascript">

var Positions = [];

var canvas = document.getElementById("canvas");
var ctx = canvas.getContext("2d");

canvas.width = 	450
canvas.height = 450;


function draw(x, y) {

	ctx.beginPath();
	ctx.fillStyle = "skyblue";
	ctx.strokeStyle = "gray";
	ctx.arc(x,y,15,0,Math.PI*2,true);
	ctx.fill();
	ctx.stroke();
}

function position(mouseX, mouseY)
{
	this.x=mouseX;
	this.y=mouseY;
}

function handleMouseDown(event) {

	// Find cursor position in browsers except Firefox.
	if (event.x != undefined && event.y != undefined)
	{
		mouseX = event.x;
		mouseY = event.y;
	}
	// Find cursor position in Firefox browser.
	else
	{
		mouseX = event.clientX + document.body.scrollLeft +
		document.documentElement.scrollLeft;
		mouseY = event.clientY + document.body.scrollTop +
		document.documentElement.scrollTop;
	}
	// Set cursor position within Canvas.
	var canvasOffset = $("#canvas").offset();
    var offsetX = canvasOffset.left;
	var offsetY = canvasOffset.top;
	mouseX -= offsetX;
	mouseY -= offsetY;

	// Put your mousedown stuff here
	draw(mouseX, mouseY);
	Positions.push(new position(mouseX, mouseY))
}

$("#canvas").mousedown(function (e) {
            handleMouseDown(e);
        });


</script>


{% endblock %}