{% extends "header.html" %}
{% block content %}
<h2>Profile</h2>


<script type="text/javascript">
/*
$("#form").submit(function(e){
    e.preventDefault();
   	log.console('Form is submitting');
	return true;

    // do ajax submition
    $.ajax({
        url: "/accounts/profile/",
        type: "POST",
        data: $(this).serializeArray(),
        success: function(data, status, xhr) {
            // do the success stuff
            log.console('success');
        },
        error: function(xhr, status err) {
            // do the error stuff
            log.console(err);
        }
    });
});*/
</script>

<form id="form" method="POST" action="/accounts/profile/" enctype="multipart/form-data">
	{% csrf_token %}
	<table>
		<tbody>
			<tr>
				<td>Name:</td>
				<td>{{fullname}}</td>
			</tr>
			<tr>
				<td>Tag ID</td>
				<td>{{form.tag_id}}</td>
			</tr>
			<tr>
				<td>Contact number</td>
				<td>{{form.contact_number}}</td>
			</tr>
			<tr>
				<td>Layout</td>
				<td>{{form.layout}}</td>
			</tr>
		</tbody>
	</table>
	<input type="submit" id="save" value="Update" />
</form>
	<label>Saved</label>
{% endblock %}
